@import './helpers'
@import './typography'
@import './variables'


html
  height 100%

body
  background-color var(--bgColor)
  margin 0
  min-height 100%
  font-size 16px

body,
input,
p,
select,
button,
a
  font-size 1rem
  line-height 1.5rem

a
  color inherit