:root
  --bgColor #171F28
  --bgColorRgba rgba(23, 31, 40, .95)
  --borderColor #454B52
  --iconColor #4D78CC
  --textTitleColor #FFFFFF
  --textBodyColor rgba(255, 255, 255, .8)
  --textDanger #f25c78
  --btnBgColor #2E353D
  --btnColor #4D78CC
  --inputColor #171F28
  --inputPhColor #171F28
  --inputBgColor rgba(255, 255, 255, .8)
  --inputBorderColor #FFFFFF
  --sheetIndicatorColor #FFFFFF
  --sheetOverlayColor rgba(46, 53, 61, .7)
  --caretColor #4D78CC
  --chipBgColor #2E353D
  --chipColor #FFFFFF
  --twitterColor #1DA1F2

  --specialColor #4D78CC
  --specialBgColor #2E353D

  --borderRadius 5px

  --screenWidth 70rem
  --sidebarWidth 350px
  --top 4.5rem
